.footer-container {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 20vh;
}

.logo-container {
    font-size: larger;
    font-weight: 700;
    padding: 20px;
    color: #823cc1;
}